.mod {
	margin: 0 0 2.75em;
	border-radius: 2px;
	overflow: hidden;
}
.mod__header {
	padding: 0.6875em;
	background-color: #B41601;
	background-color: rgba(180, 22, 1, .9);
	border-radius: 2px 2px 0 0;
}
.mod__header h1, .mod__header h3 {
	color: #fff;
}
.mod__header h2 {
	color: #ccc;
}
.mod__body {
	padding: 0.6875em;
}
.mod__footer {
	padding: 0.6875em;
	border-radius: 0 0 2px 2px;
}

.mod.m--head {
	margin-bottom: .74em;
}
.mod.m--highlight {
	background-color: #ff6d6d;
	background-color: rgba(255, 109, 109, 0.125);
}
.mod.m--pop {
	box-shadow: 0.125em 0.125em 0.5em rgba(0, 0, 0, 0.15);
	border: 1px solid #ff6d6d;
	border: 1px solid rgba(255, 109, 109, 0.25);
}

.m--list .mod__body {
	padding-left: 0;
	padding-right: 0;
}
.m--list .mod__body li {
	padding: 0 0.6875em 0.6875em;
	border-bottom: 1px solid #eee;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.m--list .mod__body li:last-child {
	border-bottom: none;
}

.acdn__header {
	cursor: pointer;
}
.acdn__body {
	display: none;
	border-top: 1px solid #eee;
	margin-top: 0.6875em;
	padding-top: 0.6875em;
}
.acdn.open > .acdn_body {
	display: inherit;
}

.m--modal {
	text-align: left;
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.95);
}
